$greyish: #9b9b9b;
$purplish: #8367d8;
$darkish: #252525;
$whitish: #e3e3e3;
$whitish-border: #E6E6E6;
$whitish2: #FCFCFC;
$whitish3: #d8d8d8;


h3 {
    font-weight: 700;
    font-size: 32px;
    line-height: 51px;
    letter-spacing: 0.84px;
}

p {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
}

h1 {
    margin-top: 1vh;
    font-weight: 700;
    font-size: 24px;
}
